{% extends "layout.html" %}

{% block title %}
<title>Task Manager</title>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="image_home">
		<h1 class="mt-5 mb-5">Welcome to TODO task manager</h1>
		<p>Live planned life with well defined weekly  activites schedule. TODOM is your best solution. Plan and access your planned daily work anywhere you are at anytime</p>
		<p>Make review to your list of  tasks and see if you have completed at exact time you have  to do them</p>
		</div>
		<div class="image_home">
			<img src="static/images/todo1.png" class="img-fluid mx-auto d-block">
		</div>
		<div class="image_home">
			<img src="static/images/toodo3.jpg" class="img-fluid mx-auto d-block">
		</div>
		<div class="image_home">
			<img src="static/images/totot35.jpg" class="img-fluid mx-auto d-block">
		</div>
	</div>
	<footer class="container">
		<p>TODOM &copy;2019 allrights reserved.</p>
	</footer> 





{% endblock %}